@use "@material/slider/styles";

:root {
  --button-size: 100px;
}

body {
  background-color: #181819;
  color: #e2e2e3;
  text-align: center;
  font-family: monospace;
  font-size: 200%;
  position: relative;
}

h1 {
  font-size: 80px;
  /* font-family: sans-serif; */
}

input,
button {
  background-color: transparent;
  border-color: #e2e2e2;
  border-style: solid;
  border-radius: 6px;
  color: white;
}

.input-error {
  border-color: #fc5d7c;
  color: #fc5d7c;
}

#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#password,
#password {
  margin: 8px;
}

#error-message {
  color: #fc5d7c;
}

.camera-container {
  font-size: 1rem;
}

.img-fluid {
  width: 442px;
  height: 120px;
}

#camera-display {
  transform: rotate(90deg);
  padding-top: 0;
  padding-bottom: 120px;
}

.map-container {
  position: relative;
}

#pin {
  width: 8px;
  height: 8px;
  border-radius: 1000px;
  background-color: red;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 0px;
  bottom: 0px;
}

button:hover {
  background-color: #ffffff30;
}

button:active {
  background-color: #ffffff40;
}

.rocquet-league {
  border-radius: 12px;
  margin: 64px;
  margin-top: 10000px;
}

#ws-status-container {
  margin-top: 64px;
}

#interface {
  position: relative;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 800px) {
  .main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
  }
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, var(--button-size));
  gap: 10px;
  width: calc(var(--button-size) * 3);
}

.direction-button {
  width: 100px;
  height: 100px;
  background-color: #ffffff10;
  border-radius: 6px;
}

@keyframes active-animation {
  0% {
    background-color: #ffffffff;
  }

  100% {
    background-color: #ffffff50;
  }
}

.active {
  background-color: #ffffff50;
  animation-name: active-animation;
  animation-duration: 500ms;
}

#up {
  grid-column-start: 2;
}

#left {
  grid-row-start: 2;
}

#down {
  grid-row-start: 2;
}

#right {
  grid-row-start: 2;
}

table {
  border-collapse: collapse;
  font-size: 0.8rem;
}

th,
td {
  border: 1px solid #ffffff; /* White border */
  padding: 10px;
}

th {
  background-color: #1e1e1e; /* Darker background for headers */
}

tr:nth-child(even) {
  background-color: #1f1f1f; /* Slightly lighter dark for even rows */
}

tr:nth-child(odd) {
  background-color: #2a2a2a; /* Slightly darker for odd rows */
}

tr:hover {
  background-color: #333333; /* Highlight on hover */
}
